footer{
    background-color: rgb(223, 223, 223);
    clear: both;
    color: rgb(71, 77, 83);
    padding: 3em 0;
    margin-top: 2em;
    text-align: center;
    font-family: 'Slabo 27px', serif;
}
