.contenedor{
    background-color: white;
    height: 400px;
    width: 400px;
    border-color: black;
    border: solid 2px;
    flex-direction: column;
    display: flex;
    align-items: flex-end;
    
}

.rojo{
    background-color: red;
    width: calc(100% / 3);
    height: calc(100% / 3);
    color: blanchedalmond;
    display: flex;
    justify-content: center;
    align-items: center;
}

.azul{ 
    background-color: blue;
    width: calc(100% / 3);
    height: calc(100% / 3);
    color: blanchedalmond;
    display: flex;
    justify-content: center;
    align-items: center;
}

.verde{
    background-color: green;
    width: calc(100% / 3);
    height: calc(100% / 3);
    color: blanchedalmond;
    display: flex;
    justify-content: center;
    align-items: center;
}

   


