h1{
    color:#521261
}
h1{
    text-transform: uppercase;
}
h1{
    font-family: 'Roboto', sans-serif;
    background-color: #b885c4;
    width: 200px;
    text-align: center;
    box-sizing: border-box;
    border-radius: 20px;
    padding: 20px;
   
    
}
h2{
    text-transform: uppercase;
}
h2{
    color: #521261;
}
h2{
    font-family: 'Roboto', sans-serif;
}
h2{
    font-weight: 200;
}
h3{
    background-color: #842f97;
}
h3{
color: aliceblue;
}
h3{
    font-family: 'Roboto', sans-serif;
}
ol{
    background-color: #b885c4;
    color: aliceblue;
    font-family: 'Great Vibes', cursive;
    font-size: 25px;
}
ul{
    background-color: #b885c4;
    color: aliceblue;
    font-family: 'Great Vibes', cursive;
    font-size: 25px;
}
p{
    color: #521261;
    font-family: 'Great Vibes', cursive;
    font-size: 25px;
    column-count: 2;
    column-gap: 50px;

}
#Contacto{
    width: 300px;
    background-color: #521261;
    color: aliceblue;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    text-transform: uppercase;
    padding: 20px;
    border: 2px solid violet;
    box-shadow: #842f97 15px 10px 5px


}
#Contacto:hover{
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(198,134,185,1) 50%, rgba(252,176,69,1) 100%);
    cursor: pointer;
}

img{ max-width: 250px;
}

.icono{
    font-size: 100px;
    color: #521261;
    padding-left: 135px;
}